.container {
    max-width: 1200px;
    margin: 0 auto;
}

.appointments {
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.appointments h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btnDiv{
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #2980b9;
}
