/* CSS Styles for the Career Opportunities Page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.career-opportunities {
    padding: 50px 0;
}

.career-opportunities h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}

.job-opening {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.job-opening:hover {
    transform: translateY(-5px);
}

.job-opening h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.job-opening p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.job-opening a {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.job-opening a:hover {
    background-color: #2980b9;
}

.jobApply{
    width: 70%;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.apply-form {
    max-width: 600px;
    margin: 0 auto;
}

.apply-form h3 {
    font-size: 24px;
    color: #3498db;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btnDiv{
    display: flex;
    justify-content: center;
}
button:hover {
    background-color: #2980b9;
}
